


<h4> RubyLander is an open source app created as a Rails Girls Summer of Code project by <a href="https://de.linkedin.com/in/carolinevnunes/en" target="_blank">Caroline Visoto Nunes</a> and <a href="https://github.com/miveronese" target="_blank">Michelle Veronese</a>. During the project, the team was hosted by Soundcloud, Berlin, having Duana Stanley and Matthias Georgi as coaches. <h4>