/* The console container element */

.container{
    position:relative;
    float: left;
    width: 37%;
    height: 450px;
    background-color: white;
    margin-left:2%;
    margin-right:1%;
    padding-top:40px;   
    font-size:12px;
    border-right: 1px solid #f6f5f0;
    border-left: 1px solid #f6f5f0;
    text-align: left;
}

#lesson_title{
    padding-left: 1px;
}

#glossary{
    padding-left: 50px;
}

#messages{
    padding-left: 10px;
} 

#next_lesson{
    padding-left: 20px;
}  
#console {
      position:relative;
      float: right;
      width: 57%;
      height: 500px;
      margin-right:2%;
      background-color: black;
      border-right: 1px solid #f6f5f0;

}

pre {
    background-color: black;
    color: #ccc;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
    padding-left: 25px;
    padding-top:25px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #ccc;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #0d0;
}
/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}
.jqconsole-result {
    color: yellow;
}