<div class ="container">
	<div id="messages">
	</div>
	
<!-- <div id = "btn"> 
	<button id="submit" >Start</button>
	</div> -->

	<!-- <div id="next-lesson">
	<button> Next lesson</button>
	</div> -->

</div>

<script type="text/javascript">
	$(function() {
		var lesson = <%= @lesson_data %>;
		startTutorial(lesson);	
	});
</script>


<div id="console">
</div>

