<script type="text/javascript">
	$(function() {
		startTutorial();	
	});
</script>

<div class ="container">

	<button id="summary" class="btn btn-primary">Course: The basics concepts of Ruby</button>

	<div id="summary-box" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="panel-group" id="accordion">
	    </div>
	  </div>
	</div>
	</br>
    </br></br>
	<div id ="lesson_title">
	</div>
    </br>
	<div id="messages">	
	</div>
    </br>
	<div id="next_lesson">
	</div>	
	<input id="button" type="button" value="Next Lesson"/>
	
</div>

<div id="console">
</div>
