<div class ="container">
	<div id="messages">
	</div>
	
	<!-- <div id = "btn"> 
	<button id="submit" >Next</button>
	</div> -->
</div>

<script type="text/javascript">
// var lesson = <%= @lesson_data.to_json %>;
var lesson = "opa lele"
</script>


<div id="console">
</div>

