<script type="text/javascript">
	$(function() {
		startTutorial();	
	});
</script>

<div class ="container">
	<!--input id="summary" type="button" value="Summary"-->
	<button id="summary" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Summary</button>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div id="accordion">
	    </div>
	  </div>
	</div>
	</br>

	<div id ="lesson_title">
	</div>
    </br>
	<div id="messages">	
	</div>
    </br>
	<div id="next_lesson">
	</div>	
	<input id="button" type="button" value="Next Lesson"/>
	
</div>

<div id="console">
</div>
