<script type="text/javascript">
	$(function() {
		startTutorial();	

	});
</script>

<div class ="container">
	<div id ="lesson_title">
	</div>
    </br>
	<div id="messages">	
	</div>
    </br>
	<div id="next_lesson">
	</div>	
</div>
		
<div id="console">
</div>

