<div class ="container">
	<div id="messages">
	</div>
	
<!-- 	<div id = "btn"> 
	<button id="submit" >Next</button>
	</div> -->

	<!-- <div id="next-lesson">
	</div> -->

</div>

<script type="text/javascript">
	$(function() {
		var lesson = <%= @lesson_data.to_json(include: :steps).html_safe %>;
		startTutorial(lesson);	
	});
</script>


<div id="console">
</div>

