<div class ="container">
	<div id="messages">
	</div>
	
<!-- <div id = "btn"> 
	<button id="submit" >Start</button>
	</div> -->

	<div id="next-lesson">
	<br>
	<%= link_to 'Next lesson', "/tutorial/lessons/2" %>
	</div>

</div>




<div id="console">
</div>
