<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>*PASTEL FLOWERS*</title>

    <!--<link href="style.css" rel="stylesheet" type="text/css" />-->

    <!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->

</head>


<body>

<div id="wrap">

    <div id="masthead"><h1>Your Site Name</h1></div>

    <div id="container">

        <div id="menu">

            <!--<ul>-->
                <!--<li><a href="" title="" class="current">Home</a></li>-->
                <!--<li><a href="" title="">About Us</a></li>-->
                <!--<li><a href="" title="">Services</a></li>-->
                <!--<li><a href="" title="">Our Work</a></li>-->
                <!--<li><a href="" title="">Contact Us</a></li>-->
            <!--</ul>-->

        </div>

        <div id="sidebar">

            <h1>Side Content</h1>

            <div id="navcontainer">

              <p><img class="right" src="/assets/img.jpg" alt="" />Mauris ultricies neque nec augue. Aenean vehicula. Ut dictum.
                Vivamus placerat diam nec velit. Suspendisse ornare. Ut viverra. Mauris sagittis nisl sed ante. Lorem ipsum
                dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos hymenaeos. </p>

              <p>Mauris ultricies neque nec augue. Aenean vehicula. Ut dictum.
              Vivamus placerat diam nec velit. Suspendisse ornare. Ut viverra. Mauris sagittis nisl sed ante. Lorem ipsum
              dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos hymenaeos.</p>


                <ul>
                    <li><a href="http://www.mitchinson.net" title="Visit my website">SNAPP HAPPY</a> </li>
                    <!--<li><a href="http://www.opendesigns.org/" title="Open Designs">OPEN DESIGNS</a> </li>-->
                    <!--<li><a href="http://andreasviklund.com" title="website of Andreas Viklund">ANDREAS VIKLUND</a> </li>-->
                    <!--<li><a href="http://www.jameskoster.co.uk" title="website of James Koster">JAMES KOSTER</a> </li>-->
                    <!--<li><a href="http://www.cssplay.co.uk" title="Stu Nicholls"> CSS PLAY </a> </li>-->
                    <!--<li><a href="http://css.maxdesign.com.au/listamatic/" title="CSS menus">LISTAMATIC </a> </li>-->
                    <!--<li><a href="http://blog.html.it/layoutgala" title="a set of 40 CSS layouts"> LAYOUTGALA </a> </li>-->
                    <!--<li><a href="http://www.bluerobot.com/web/layouts" title="the layout reservoir"> BLUEROBOT </a> </li>-->
                </ul>
            </div>



        </div>


        <div id="content">
            <h1>Content</h1>

            <div>
                <p>
                    <%= text_area_tag(:text, @result, :cols => "60%", :rows => "20%") %><br>
                </p>
            </div>

            </br>

            <div>
                <%= form_tag do  %>
                <%= text_area_tag :text, "", :cols => "60%", :rows => "2%" %></br>
                <%= submit_tag 'Run' %>
                <% end %>
            </div>
        </div>

    </div></div>

<div id="footer">

    <a href="#">homepage</a> | <a href="mailto:denise@mitchinson.net">contact</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> |  Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></div>

</body>
</html>