

  <div id = "wrap">

    <div id = "header"> <h1>Vamos aprender Ruby on Rails?</h1></div>

    <div id="nav"></div>

    <div id = "main">

      <div>
        <p>
          <%= text_area_tag(:text, @result, :cols => "50%", :rows => "30%") %><br>
        </p>
      </div>

      </br>

      <div>
        <%= form_tag do  %>
            <%= text_area_tag :text, "", :cols => "50%", :rows => "2%" %></br>
            <%= submit_tag 'Run' %>
        <% end %>
      </div>
  </div>

  <div id = "sidebar">
    <h2> Bem-vind@ ao nosso tutorial</h2>
    <p> nonnonononononnononononononononononononon</p>
  </div>


  <div id="footer"><p> ballallalalalalaallalalaalla</p></div>
  </div>


