<!DOCTYPE html>
<html>

<head>
    <title>*Tutorial*</title>
    <link href="/tutorial/tutorial.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>

<div id="wrap">

    <div id="masthead"><h1>Tutorial</h1></div>

    <div id="container">

      <div id="menu">

        <ul>
          <li><a href="" title="" class="current">Home</a></li>
          <li><a href="" title="">About Us</a></li>
          <li><a href="" title="">Services</a></li>
          <li><a href="" title="">Our Work</a></li>
          <li><a href="" title="">Contact Us</a></li>
        </ul>

      </div>


      <div id="sidebar">

        <h1>Side Content</h1>

        <div id="navcontainer">
          <ul>
            <li><a href="http://www.mitchinson.net" title="Visit my website">SNAPP HAPPY</a> </li>
            <li><a href="http://www.opendesigns.org/" title="Open Designs">OPEN DESIGNS</a> </li>
            <li><a href="http://andreasviklund.com" title="website of Andreas Viklund">ANDREAS VIKLUND</a> </li>
            <li><a href="http://www.jameskoster.co.uk" title="website of James Koster">JAMES KOSTER</a> </li>
            <li><a href="http://www.cssplay.co.uk" title="Stu Nicholls"> CSS PLAY </a> </li>
            <li><a href="http://css.maxdesign.com.au/listamatic/" title="CSS menus">LISTAMATIC </a> </li>
            <li><a href="http://blog.html.it/layoutgala" title="a set of 40 CSS layouts"> LAYOUTGALA </a> </li>
            <li><a href="http://www.bluerobot.com/web/layouts" title="the layout reservoir"> BLUEROBOT </a> </li>
          </ul>
        </div>

        <p><img class="right" src="images/img.jpg" alt="" />Mauris ultricies neque nec augue. Aenean vehicula. Ut dictum. Vivamus placerat diam nec velit. Suspendisse ornare. Ut viverra. Mauris sagittis nisl sed ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. </p></div>

        <div id="content">
          <h1>Lição 1</h1>

          <p><em> This template has been tested in Mozilla Firefox and IE6/7. The page validates as XHTML 1.0 Transitional using valid CSS. It will work in browser widths of 800x600, 1024x768 &amp; 1280x1064. The images used in this template are courtesy of <a href="http://www.sxc.hu/" title="free images">stock xchng</a>. The top navigation menu is from <a href="http://www.13styles.com/" title="free CSS menus">13 Styles</a> and has been amended to suit this template.</em></p>
          <p><em>For more free CSS templates visit <a href="http://www.mitchinson.net" title="Snapp Happy">my website</a>.</em></p>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse in odio et nibh volutpat eleifend. Donec rutrum, risus sed auctor malesuada, augue felis placerat neque, vel vestibulum odio erat eget felis. Phasellus id mauris eu urna sagittis posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris elementum elit et ipsum. Cras ornare magna eu felis. Morbi convallis. Nunc fermentum, odio sed ornare ultricies, urna odio egestas sem, vel scelerisque nisi neque vitae lectus. Proin dolor. Vestibulum condimentum urna dignissim arcu. Nullam interdum. Proin lacinia, magna ut scelerisque facilisis, augue sem tempor purus, consequat suscipit tellus ligula et justo. Nam magna. Donec magna sapien, aliquam non, egestas eu, hendrerit nec, quam. Donec commodo auctor lectus. Suspendisse rhoncus. Proin tincidunt euismod nisi. Cras nibh ante, ultrices non, placerat quis, placerat id, est. Suspendisse sed quam volutpat lacus faucibus venenatis.</p>

          <p>Mauris ultricies neque nec augue. Aenean vehicula. Ut dictum. Vivamus placerat diam nec velit. Suspendisse ornare. Ut viverra. Mauris sagittis nisl sed ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
        </div>

      <div id="content">
        <h1>Content</h1>

        <p><em> This template has been tested in Mozilla Firefox and IE6/7. The page validates as XHTML 1.0 Transitional using valid CSS. It will work in browser widths of 800x600, 1024x768 &amp; 1280x1064. The images used in this template are courtesy of <a href="http://www.sxc.hu/" title="free images">stock xchng</a>. The top navigation menu is from <a href="http://www.13styles.com/" title="free CSS menus">13 Styles</a> and has been amended to suit this template.</em></p>
        <p><em>For more free CSS templates visit <a href="http://www.mitchinson.net" title="Snapp Happy">my website</a>.</em></p>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse in odio et nibh volutpat eleifend. Donec rutrum, risus sed auctor malesuada, augue felis placerat neque, vel vestibulum odio erat eget felis. Phasellus id mauris eu urna sagittis posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris elementum elit et ipsum. Cras ornare magna eu felis. Morbi convallis. Nunc fermentum, odio sed ornare ultricies, urna odio egestas sem, vel scelerisque nisi neque vitae lectus. Proin dolor. Vestibulum condimentum urna dignissim arcu. Nullam interdum. Proin lacinia, magna ut scelerisque facilisis, augue sem tempor purus, consequat suscipit tellus ligula et justo. Nam magna. Donec magna sapien, aliquam non, egestas eu, hendrerit nec, quam. Donec commodo auctor lectus. Suspendisse rhoncus. Proin tincidunt euismod nisi. Cras nibh ante, ultrices non, placerat quis, placerat id, est. Suspendisse sed quam volutpat lacus faucibus venenatis.</p>

        <p>Mauris ultricies neque nec augue. Aenean vehicula. Ut dictum. Vivamus placerat diam nec velit. Suspendisse ornare. Ut viverra. Mauris sagittis nisl sed ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
      </div>

        <div>
          <p>
          <%= text_area_tag(:text, @result, :cols => "70%", :rows => "30%") %><br>
          </p>
        </div>

        </br>

        <div>
            <%= form_tag do  %>
            <%= text_area_tag :text, "", :cols => "70%", :rows => "2%" %></br>
            <%= submit_tag 'Run' %>
        <% end %>
        </div>
    </div>


</div>



<div id="footer">

<a href="#">homepage</a> | <a href="michelle.veronese@soundcloud.com">contact</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> |  Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></div>

</body>
</html>