

<div id="sidebar">
  <h1>Bem-vindo ao nosso tutorial!</h1>
  
  <div id="navcontainer">
    <p>Aqui você irá aprender os conceitos básicos </br>da linguagem Ruby. Vai descobrir
      como executar </br>um código e a maneira correta de declarar variáveis,
      escrever <i>arrays</i>, laços e funções.
    </p>
    
    <p>Não entendeu o que significam essas expressões? Não tem problema! Este tutorial
      também foi criado pensando em quem não tem noções </br>de programação e quer programar em Ruby.</p>
    
    <p>Vamos começar? Clique no botão avançar para ver a primeira lição.</p>
    
    <%= link_to 'Avançar'%>
  </div>
</div
        