<!DOCTYPE html>
<html>
<head>
  <title>RubyLander</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/jsrepl.js" id="jsrepl-script"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RubyLander</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Want to be a coder? Start learning Ruby </a></li>
        <li><a href="#">Contact</a></li> -->
        

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<div style="color:black">
  <h1> </h1>
</div>


</body>
</html>



<!-- 
<body>
<div id="wrap">
  <div id="masthead"><h1>Vamos aprender Ruby?</h1></div>
  <div id="container">
    <div id="menu">
      <ul>
        <li>
          <a href="/" title="" class="current">Home</a>
        </li>
        <li>
          <a href="" title="">Quem somos</a>
        </li>
        <li>
          <a href="" title="">Contato</a>
        </li>
      </ul>
    </div>

  <%#= yield %>

       <div id="content">
            <h1></h1>
          <div>
             <p>
               <%#= text_area_tag(:text, @result, :cols => "60%", :rows => "20%", :disabled=>true) %><br>
              </p>
            </div>

             </br>

            <div>
              <%#= form_tag do  %>
               <%#= text_area_tag :text, "", :cols => "60%", :rows => "2%" %></br>
               <%#= submit_tag 'Executar' %>
                <%# end %>
          </div>
       </div>
  </div>
</div>

<div id="footer">

<a href="#">homepage</a> | <a href="mailto:denise@mitchinson.net">contact</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> |  Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>
</div>
</body>
</html>

 
<%#= yield %>
</body>


 -->